.body {
    display: flex;
    flex-direction: column; 
    align-items: center;
}
body {
    margin: 0;
}
h3 {
    font-size: 35px;
    padding: 15px;
    margin: 0;
}
img {
    width: 400px;
    display: block;
    border-radius: 16px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
p {
    margin: 0;
}
.title {
    font-weight: 700;
    font-size: 36px;
}
.nav-bar {
    display: flex;
    background-color: #e97a7a;
    justify-content: space-between;
    width: 100%;
}
.title {
    padding: 0 80px;
    margin: 14px 0;
}
.statement1 {
    font-size: 40px;
    font-weight: 700;
    width: 300px;
    margin: 0;
}
.heading {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #e97a7a;
    width: 100%;
    gap: 20px;
    padding: 75px 0;
}
.card1 {
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    width: 400px;
    padding: 15px 0;
}
.opinion {
    background-color: rgb(138, 74, 138);
    border: none;
    border-radius: 7px;
    width: 150px;
    padding: 8px;
    font-size: 18px;
}
.nav-links {
    display: flex;
    gap: 16px;
    font-size: 20px;
    padding: 0 20px;
}
.main {
    width: 100%;
}
.maincontent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0;
}
.display {
    display: flex;
    padding: 0 25px;
    gap: 45px;
    flex-flow: row wrap;
    flex-grow: 1;
}
.display img {
    border: 4px solid rgb(138, 74, 138);
    width: 200px;
    height: 200px;
}
.webcards {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    width: 200px;
    gap: 12px;
}
.quote {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-size: 35px;
    width: 100%;
    background-color: lightgrey;
}
.quote p {
    font-style: italic;
    width: 1000px;
    padding: 75px 0;
}
.quote span {
    display: flex;
    font-weight: 800;
    flex-direction: row-reverse;
}
.prompt {
    display: flex;
    justify-content: space-between;
    gap: 45px;
    background-color: rgb(138, 74, 138);
    padding: 75px 175px;
    border-radius: 12px;
    margin: 100px auto;
}
.prompt p {
    font-size: 24px;
    color: white;
    width: 800px;
}
.prompt button {
    width: 180px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 22px;
    border-radius: 8px;
    padding: 8px 16px;
}
.prompt a {
    color: white;
}
.emphasis {
    font-weight: 800;
}
footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e97a7a;
}
footer div {
    font-size: 20px;
    padding: 35px 0;
}
/* Okay I am done for now my brain feels like the commercial about drugs and your brain. it's bad. I'm commititng and then taking a break */