body {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100vw;
    margin: 0;
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #e97a7a;
    /* width: 1500px; dont need*/
}

img {
    width: 400px;
    display: block;
    /* height: 300px; */
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.title {
    font-weight: 700;
    font-size: 36px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    width: 1450px;
    padding: 0 18px;
}
.title {
    padding: 0 80px;
    margin: 16px 0;
}
.statement1 {
    font-size: 40px;
    max-width: 300px;
    margin: 0;
}
.heading {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 1000px;
    padding: 84px;
    gap: 15px;
}
.card1 {
    width: 400px;
    padding: 15px 0;
}
.opinion {
    background-color: rgb(138, 74, 138);
    border: none;
    border-radius: 7px;
    padding: 8px;
    font-size: 18px;
}
.nav-links {
    display: flex;
    gap: 16px;
    font-size: 20px;
}
.maincontent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.webcards {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
}

